__pycache__/
*.pyc
.pytest_cache/
**/__pycache__/

frontend/node_modules/.vite/
.claude/
.codex/
.superpowers/
.venv/
.github

/GEMINI.md
.idea
/GPT_SoVITS/pretrained_models/
*.onnx
*.zip
*.wav
/onnx
/pretrained_models
/onnx_export/
/assets
/frontend/node_modules/
/frontend/dist/
/docs/superpowers/
/experiments/
/storage/
/input/
/output/
/logs/
*tmp*
/devdoc/
/docker/
/llmdoc/
legacy/


